* {
  font-family: "Adwaita Sans", "Noto Sans", sans-serif;
  font-size: 12px;
  color: #d3c6aa;
}

window {
  border: 1px solid #292929;
  border-radius: 10px;
  background-color: #101010;
}

#outer-box {
  margin: 12px;
  padding: 8px;
  background-color: transparent;
}

/* Confirmation title */

#input {
  margin: 6px 10px 14px 10px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  color: #d3c6aa;
  font-size: 13px;
  font-weight: 600;
  caret-color: transparent;
}

/* Buttons */

#entry {
  margin: 4px;
  padding: 9px 20px;
  border: 1px solid #292929;
  border-radius: 7px;
  background-color: #181818;
}

#text {
  font-size: 12px;
  font-weight: 500;
  color: #858585;
}

/* Selected */

#entry:selected {
  background-color: #252525;
  border: 1px solid #3a3a3a;
}

#entry:selected #text {
  color: #d3c6aa;
}

/* Scrollbar */

scrollbar {
  background-color: transparent;
}

scrollbar slider {
  background-color: transparent;
}
