* {
  font-family: "Adwaita Sans", "Noto Sans", sans-serif;
  font-size: 11px;
  color: #d3c6aa;
}

window#waybar {
  background: #161616;
  border-bottom: 1px solid #292929;
}

/* All modules */

#workspaces,
#clock,
#battery,
#pulseaudio,
#backlight,
#keyboard-state,
#language,
#mpd,
#tray,
#custom-dashboard {
  background: #1d1d1d;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 2px 12px;
  margin: 4px 4px;
}

/* Workspaces */

#workspaces {
  padding: 2px;
}

#workspaces button {
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 6px;
  color: #858585;
  background: transparent;
  border: none;
  font-weight: bold;
}

#workspaces button:hover {
  color: #d3c6aa;
  background: #252525;
}

#workspaces button.active {
  color: #d3c6aa;
  background: #292929;
}

#workspaces button.urgent {
  color: #161616;
  background: #e67e80;
}

/* Center */

#clock,
#battery {
  margin: 4px 0;
}

#clock {
  border-radius: 8px 0 0 8px;
  border-right: none;
  padding-left: 14px;
}

#battery {
  border-radius: 0 8px 8px 0;
  padding-right: 14px;
}

/* Hover */

#pulseaudio:hover,
#backlight:hover,
#keyboard-state:hover,
#language:hover,
#mpd:hover,
#custom-dashboard:hover,
#tray:hover {
  background: #252525;
  color: #eceef4;
}

/* Tray */

#tray {
  margin-right: 8px;
}
